@import "~bootstrap/scss/bootstrap";
.list-items-wrapper {
  padding: 10px;
  overflow-y: scroll;
  height: calc(100vh - 70px);
  .lz-loading {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: stretch;
  }
}
